# Supabase Configuration
SUPABASE_URL=https://jxtukqfrfqmtritvcvrx.supabase.co/rest/v1/
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp4dHVrcWZyZnFtdHJpdHZjdnJ4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Njg2MjI0NiwiZXhwIjoyMDkyNDM4MjQ2fQ.ZtFI0v069fS5xaE-UlYgW5rU0sDzBLY5sTZ8zMGcieA
SUPABASE_JWT_SECRET=569e1b8a-8c40-407b-a76c-204015a43dcd

# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:3000

# Server
PORT=8000
